body, ul {
  margin: 0;
  padding: 0;
  background-color: #120f0f;
}
header {
  background-color: #120f0f;
  padding: 20px;
  color: #fff;
  text-align: center;
  font-family: cursive;
}
header h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

.button {
  margin: 10px;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
}
.button {
  --border-right: 6px;
  --text-stroke-color: rgba(255,255,255,0.6);
  --animation-color: #f21621;
  --fs-size: 2em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Arial";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}
.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}
.button:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color))
}
.contact-info {
 max-width: 1200px;
      margin: 0 auto;
      margin-top: 70px;
      margin-bottom: 150px;
      padding: 20px;
      background-color: #120e0e;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      border-radius: 50px;
       border-radius: 30px;
       box-shadow: 15px 15px 30px rgb(204, 118, 134),
             -15px -15px 30px rgb(122, 118, 118);
}

.contact-info h2 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
   font-size: 22px;
   background-color: #120f0f;
   color: #cc7686;
   margin-top: 20px;
   margin-bottom: 20px;
   text-align: center;
   text-shadow: 0 15px 20px #cc7686;
}

.contact-info ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.contact-info li {
  margin-bottom: 5px;
  font-size: 20px;
  line-height: 1.5;
  color: #e4d8eb;
  font-family: monospace;
}

.contact-info i {
  margin-right: 5px;
}
.about-me {
  max-width: 800px;
      margin: 0 auto;
      margin-top: 70px;
      margin-bottom: 150px;
      padding: 20px;
      background-color: #120e0e;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      border-radius: 50px;
       border-radius: 30px;
       box-shadow: 15px 15px 30px rgb(121, 136, 176),
             -15px -15px 30px rgb(122, 118, 118);
  
}

.about-me h2 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
   font-size: 22px;
   background-color: #120f0f;
   color: #7988b0;
   margin-top: 20px;
   margin-bottom: 20px;
   text-align: center;
   text-shadow: 0 15px 20px #7988b0;
}

.about-me p {
  font-size: 20px;
  line-height: 1.5;
  color: #e4d8eb;
  text-align: justify;
  font-family: monospace;
}
.objective {
  margin: 20px;
  padding: 10px;
  max-width: 800px;
      margin: 0 auto;
      margin-top: 20px;
      margin-bottom: 150px;
      padding: 20px;
      background-color: #120e0e;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      border-radius: 50px;
       border-radius: 30px;
       box-shadow: 15px 15px 30px rgb(149, 200, 201),
             -15px -15px 30px rgb(122, 118, 118);
  
}

.objective h2 {
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
   font-size: 22px;
   background-color: #120f0f;
   color: #95c8c9;
   margin-top: 20px;
   margin-bottom: 20px;
   text-align: center;
   text-shadow: 0 15px 20px #95c8c9;
}

.objective p {
  font-size: 20px;
  line-height: 1.5;
  color: #e4d8eb;
  text-align: justify;
  font-family: monospace;
}
.e {
  margin: 20px;
  padding: 20px;
  
}
.body {
      margin: 0;
      padding: 0;
      background-color: #1a1a1a;
      font-family: Arial, sans-serif;
    }

.ed{
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
   font-size: 22px;
   font-weight: bold;
   background-color: #120f0f;
   color: #d68dcb;
   margin-top: 20px;
   margin-bottom: 20px;
   text-align: center;
   text-shadow: 0 15px 20px #d68dcb; 
}
    .container {
       max-width: 800px;
      margin: 0 auto;
      margin-top: 70px;
      margin-bottom: 150px;
      padding: 20px;
      background-color: #120e0e;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      border-radius: 30px;
      box-shadow: 15px 15px 30px rgb(214, 141, 203),
             -15px -15px 30px rgb(122, 118, 118);
    }

    

    .event {
      position: relative;
      padding-left: 30px;
      margin-bottom: 10px;
      overflow: hidden ;
      animation: slide-in 0.5s ease-in-out;
    }

    .event::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 6px;
      height: 90%;
      background-color: #eb0510;
    }

    .year {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 10px;
      color: #e4d8eb;
      font-family: monospace;
    }

    .institution {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 10px;
      color: #e4d8eb;
      font-family: monospace;
    }

    .details {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 10px;
      color: #e4d8eb;
      font-family: monospace;
    }

    @keyframes slide-in {
      0% {
        opacity: 0;
        transform: translateX(-50px);
      }
      100% {
        opacity: 1;
        transform: translateX(0);
      }
    }
/* High-resolution graphics */
.contact-info i,
.about-me img {
  font-size: 24px;
  vertical-align: middle;
}

.contact-info a {
  display: inline-flex;
  align-items: center;
}

.contact-info a,
.about-me img {
  margin-right: 5px;
}

.contact-info a:first-child,
.about-me img:first-child {
  margin-left: 0;
}

.contact-info a:last-child,
.about-me img:last-child {
  margin-right: 0;
}

.experience {
      max-width: 800px;
      margin: 0 auto;
      margin-top: 70px;
      margin-bottom: 150px;
      padding: 20px;
      background-color: #120e0e;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      border-radius: 50px;
       border-radius: 30px;
       box-shadow: 15px 15px 30px rgb(222, 130, 93),
             -15px -15px 30px rgb(122, 118, 118);
    }
.experience h2 {
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
   font-size: 22px;
   background-color: #120f0f;
   color: #de825d;
   margin-top: 20px;
   margin-bottom: 20px;
   text-align: center;
   text-shadow: 0 15px 20px #de825d;
    }

.experience h1{
      color: #c77604;
      font-size: 22px;
    }
    
.experience li {
      font-size: 20px;
      line-height: 1.5;
      color: #e4d8eb;
      margin-bottom: 10px;
      font-family: monospace;
    }

.s h2 {
     font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
   font-size: 22px;
   background-color: #120f0f;
   color: #6866de;
   margin-top: 50px;
   margin-bottom: 10px;
   text-align: center;
   text-shadow: 0 15px 20px #6866de;
}
.card1 {
  width: 300px;
  height: 400px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  margin: auto;
  margin-top:40px;
  margin-bottom: 150px;
 border-radius: 30px;
 box-shadow: 15px 15px 30px rgb(104, 102, 222),
             -15px -15px 30px rgb(122, 118, 118);
    }
.body {
  padding: 60px;
  background-color: #120e0e;
  margin: auto;
  margin-top: 1px;
  margin-bottom: 10px;
}

.skill {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.skill-name-1 {
  width: 120px;
  font-size: 20px;
  color: #05a630;
  font-family: monospace;
  font-weight: bold;
}

.skill-percent-1 {
  background-color: #05a630;
  height: 100%;
}
.skill-name-2 {
  width: 120px;
  font-size: 20px;
  color: #cf8506;
  font-family: monospace;
  font-weight: bold;
}

.skill-percent-2 {
  background-color: #e4d8eb;
  height: 100%;
}

.skill-name-3 {
  width: 120px;
  font-size: 20px;
  color: #ba0d58;
  font-family: monospace;
  font-weight: bold;
}

.skill-percent-3 {
  background-color: #e4d8eb;
  height: 100%;
}

.skill-name-4 {
  width: 120px;
  font-size: 20px;
  color: #d1040e;
  font-family: monospace;
  font-weight: bold;
}

.skill-percent-4 {
  background-color: #e4d8eb;
  height: 100%;
}
.skill-name-5 {
  width: 120px;
  font-size: 20px;
  color: #074cad;
  font-family: monospace;
  font-weight: bold;
}

.skill-percent-5 {
  background-color: #074cad;
  height: 100%;
}
.skill-percent-number-1 {
  margin-left: 20px;
  font-size: 16px;
  color:  #05a630;
  font-weight: bold;
}
.skill-percent-number-2 {
  margin-left: 20px;
  font-size: 16px;
  color:  #cf8506;
  font-weight: bold;
}
.skill-percent-number-3{
  margin-left: 20px;
  font-size: 16px;
  color:  #ba0d58;
  font-weight: bold;
}
.skill-percent-number-4 {
  margin-left: 20px;
  font-size: 16px;
  color: #d1040e;
  font-weight: bold;
}
.skill-percent-number-5 {
  margin-left: 20px;
  font-size: 16px;
  color:  #074cad;
  font-weight: bold;
}    

.project {
      max-width: 800px;
      margin: 0 auto;
      margin-top: 70px;
      margin-bottom: 150px;
      padding: 20px;
      background-color: #120e0e;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      border-radius: 50px;
      border-radius: 30px;
      box-shadow: 15px 15px 30px rgb(171, 126, 126),
             -15px -15px 30px rgb(122, 118, 118);
  
  
}

.project h2 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
   font-size: 24px;
   background-color: #120f0f;
   color: #cf9c8c;
   margin-top: 30px;
   margin-bottom: 30px;
   text-align: center;
   text-shadow: 0 15px 20px #cf9c8c;
}

.project p {
  font-size: 20px;
  line-height: 1.5;
  color: #e4d8eb;
  font-family: monospace;
  text-align: justify;
}

.aa{
      max-width: 800px;
      margin: 0 auto;
      margin-top: 70px;
      margin-bottom: 150px;
      padding: 40px;
      background-color: #120e0e;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      border-radius: 50px;
       border-radius: 30px;
       box-shadow: 15px 15px 30px rgb(139, 189, 134),
             -15px -15px 30px rgb(122, 118, 118);
  
}
.aa h2{
   font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
   font-size: 24px;
   background-color: #120f0f;
   color: #8bbd86;
   margin-top: 10px;
   text-align: center;
   text-shadow: 0 15px 20px #8bbd86;
}  
.aa li{
  font-size: 20px;
  line-height: 1.5;
  color: #e4d8eb;
  font-family: monospace;
  }
.sk {
  width: 300px;
  height: 400px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  margin: auto;
  margin-top:40px;
  margin-bottom: 150px;
 border-radius: 30px;
 box-shadow: 15px 15px 30px rgb(174, 134, 189),
             -15px -15px 30px rgb(122, 118, 118);
    }
.sk h2 {
   font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
   font-size: 24px;
   background-color: #120f0f;
   color: #ae86bd;
   margin-top: 40px;
   text-align: center;
   text-shadow: 0 15px 20px #ae86bd;
    }
    
.sk li {
      font-size: 20px;
      line-height: 1.5;
      color: #e4d8eb;
      margin-top: 3px;
      margin-bottom: 20px;
      font-family: monospace;
      padding: 5px;
      padding-left: 40px;
    }
.certificates h2{
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 24px;
  background-color: #120f0f;
  color: #cf2b1f;
  text-align: center;
  text-decoration-color: #cf2b1f;
   text-shadow: 0 15px 20px #d1271b;
   margin: auto;
   margin-bottom: 40px;
}
              
.ccont {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.card_1 {
  width:200px;
  height: 354px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 30px;
  display: flex;
  flex-wrap: wrap;
  background: #9ce6b0;
  box-shadow: 15px 15px 30px rgb(25,25,25),-15px -15px 31px rgb(156, 230, 176);
}
.card_2 {
  width:200px;
  height: 354px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 30px;
  display: flex;
  flex-wrap: wrap;
  background: #9ba8c2;
  box-shadow: 15px 15px 30px rgb(25,25,25),-15px -15px 31px rgb(155, 168, 194);
}
.card_3 {
  width:200px;
  height: 354px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 30px;
  display: flex;
  flex-wrap: wrap;
  background: #e69eb5;
  box-shadow: 15px 15px 30px rgb(25,25,25),-15px -15px 31px rgb(230, 158, 181);
}
.card_4 {
  width:200px;
  height: 354px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 30px;
  display: flex;
  flex-wrap: wrap;
  background: #c09ae6;
  box-shadow: 15px 15px 30px rgb(25,25,25),-15px -15px 31px rgb(192, 154, 230);
}
.card_5 {
  width:200px;
  height: 400px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 30px;
  display: flex;
  flex-wrap: wrap;
  background: #d68d90;
  box-shadow: 10px 10px 0px rgb(25,25,25),-15px -15px 31px rgb(214, 141, 144);
}
.card_6 {
  width:200px;
  height: 400px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 30px;
  display: flex;
  flex-wrap: wrap;
  background: #c779c0;
  box-shadow: 10px 10px 0px rgb(25,25,25),-15px -15px 31px rgb(199, 121, 192);
}
.card_7 {
  width:200px;
  height: 400px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 30px;
  display: flex;
  flex-wrap: wrap;
  background: #8d9c76;
  box-shadow: 10px 10px 0px rgb(25,25,25),-15px -15px 31px rgb(141, 156, 118);
}

.card_1 h3{
  font-family: monospace ;
  font-size: 24px;

}
.card_1 p{
  font-family: monospace;
  font-size: 20px;

}
.card_2 h3{
  font-family: monospace ;
  font-size: 24px;

}
.card_2 p{
  font-family: monospace;
  font-size: 20px;
}
.card_3 h3{
  font-family: monospace ;
  font-size: 24px;

}
.card_3 p{
  font-family: monospace;
  font-size: 20px;
}
.card_4 h3{
  font-family: monospace ;
  font-size: 24px;

}
.card_4 p{
  font-family: monospace;
  font-size: 20px;
}
.card_5 h3{
  font-family: monospace ;
  font-size: 24px;

}
.card_5 p{
  font-family: monospace;
  font-size: 20px;
}
.card_6 h3{
  font-family: monospace ;
  font-size: 24px;

}
.card_6 p{
  font-family: monospace;
  font-size: 20px;
}
.card_7 h3{
  font-family: monospace ;
  font-size: 24px;

}
.card_7 p{
  font-family: monospace;
  font-size: 20px;  
}
.footer {
  background-color: #d5dde8;
  padding: 50px;
  border-radius: 20px;
}

.footer p {
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 20px;
  line-height: 2.0;
  color: #18191c;
  font-family: monospace;
  font-family: 'Open Sans', sans-serif;

}
.f1 p a{
  color: #f03329;
}
.f1 p a:hover{
  color: #241a19;
}
.f2 p a{
  color: #c2953c;
}
.f2 p a:hover{
  color: #241a19;
}
.f3 p a{
  color: #749dcf;
}
.f3 p a:hover{
  color: #241a19;
}
.f4 p a{
  color: #d6187d;
}
.f4 p a:hover{
  color: #241a19;
}
.f5 p a{
  color: #555f9e;
}
.f5 p a:hover{
  color: #241a19;
}
.f6 p a{
  color: #4ab06a;
}
.f6 p a:hover{
  color: #241a19;
}
.f7 p a{
  color: #60748a;
}
.f7 p a:hover{
  color: #241a19;
}
.f8 p i{
  color: #aa27db;
}
.f8 p i:hover{
  color: #241a19;
}